@font-face {
    font-family: 'Minecraft';
    src: url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.ttf')  format('truetype');
}

#footer {
    -fx-background-color: black;
    -fx-background-image: url("images/background.png");
}

#updateButton {
    -fx-background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_center.png');
    -fx-background-repeat: repeat;
    -fx-color-label-visible: white;
    -fx-min-height: 40px;
    -fx-min-width: 400px;
    -fx-max-width: 400px;
    -fx-font-family: "Minecraft";
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-insets: 0,1,2,3,0;
    -fx-border-width: 2 2 4 2;
    -fx-border-color: #AAA #565656 #565656 #AAA;
    -fx-cursor: hand;
}

#updateButton:hover {
    -fx-background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_active_center.png');
    -fx-border-color: #BDC6FF #59639A #59639A #BDC6FF;
    -fx-text-fill: #FFFFA0;
}

#updateButton:pressed {
    -fx-border-width: 1 1 2 1;
}

#updateButton Text {
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

.version {
    -fx-font-family: "Minecraft";
    -fx-text-fill: white;
    -fx-font-size: 12px;
}