@font-face {
    font-family: 'Minecraft';
    src: url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.ttf')  format('truetype');
}

#footer {
    -fx-background-color: black;
    -fx-background-image: url("images/background.png");
}

.minecraft-button {
    -fx-background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_center.png');
    -fx-background-repeat: repeat;
    -fx-min-height: 40px;
    -fx-font-family: "Minecraft";
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-insets: 0,1,2,3,0;
    -fx-border-width: 2 2 4 2;
    -fx-border-color: #AAA #565656 #565656 #AAA;
    -fx-cursor: hand;
}

.minecraft-button:hover {
    -fx-background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_active_center.png');
    -fx-border-color: #BDC6FF #59639A #59639A #BDC6FF;
    -fx-text-fill: #FFFFA0;
}

.minecraft-button:pressed {
    -fx-border-width: 1 1 2 1;
}

.minecraft-button Text {
    -fx-text-fill: red;
    /*-fx-effect: dropshadow( one-pass-box , black , 8 , 5 , 2 , 5 );*/
}

.version {
    -fx-font-family: "Minecraft";
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.minecraft {
    -fx-background-color: black;
    -fx-background-image: url("images/background.png");
}

.minecraft Label {
    -fx-font-family: "Minecraft";
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.transparent {
    -fx-background: transparent;
}

.scroll-pane {
    -fx-background: transparent;
    -fx-border-width: 2 0 0 0;
    -fx-border-color: #AAA transparent transparent transparent;
}

scroll-pane > .viewport {
    -fx-background-color: red;
}

.success {
    -fx-min-height: 50px;
    -fx-font-family: "Minecraft";
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.progress-bar {
    -fx-max-height: 2px;
    -fx-pref-height: 2px;
    -fx-min-height: 5px;
}

.progress-bar .track {
    -fx-background-color: rgb(10,10,10);
    -fx-background-radius: 0;
    -fx-max-height: 2px;
}

.progress-bar > .bar {
    -fx-max-height: 1px;
    -fx-border-insets: 0;
    -fx-background-insets: 1 0 1 0;
    -fx-background-color: green;
}